<!DOCTYPE html>
<html lang="en">
<head>
        <script src='http://use.edgefonts.net/creepster.js'></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boxy Mama - by Brett</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <div class="wrapper">
        <header>
            <img class=logoimg src="{% static 'main/img/logowhite.jpg' %}" alt="#">
        </header>
        <div class="main">
            <div class= "card" style="width: 25rem;" class="about_boxy">
                <img class="momimg" src="{% static 'main/img/mom.jpg' %}" alt="#">
                <h2 class= "card-title" class="boxyboxy1">About Boxy Mama</h2>
                <h4 class="secondhead">Handmade care packages for the people you miss most.</h4>
                <div class="card-body">
                    <p class="card-text" class="boxyboxy">Every box is hand-crafted with love by the Boxy Mama herself.</p>
                    <p class="card-text" class="boxyboxy">Boxes are all Standard USPS Priority Mail Medium Size</p>
                    <p class="card-text" class="boxyboxy">Boxes include candy, a personalized note, small gifts, and other exciting items!</p>                
                    <p class="card-text" class="boxyboxy">For any questions please inquire below:</p>
                    <div class="links">
                        <a class="boxyboxy" class="bretts_email" rel="stylesheet" href="placeholder">boxymama@gmail.com</a>
                        <a class="boxyboxy" rel="stylesheet" href="https://www.facebook.com/boxymama/">Boxy Mama's Facebook Page</a>
                    </div>
                </div>
            </div>
            <div class="current_offering" class= "card" style="width: 85rem;">
                <h1 class= "card-title" style="color:white" class="current_h"> Current Box: <span class="halloweenspan">HALLOWEEN!!!</span></h1>
                <img class= "card-img-top" id="current_offering_img" src="{% static 'main/img/halloween7.jpg' %}" alt="#">
                <div class="details" class="card-body">
                    <p class="card-text" style="font-size: 28pt" class="details_p">Boxy Mama's Favorite Holiday! </p>
                    <p class="card-text" style="font-size: 20pt" class="details_p">This special Halloween giftbox is sure to satisfy your loved one's sweet tooth and also give them a little scare!</p>
                    <p class="card-text" style="font-size: 28pt; color: rgb(255, 81, 0); font-weight: bold;" class="price">Price: $49.95</p>
                </div>
                <a class="order_button" rel="stylesheet" href="/purchase-page"> ORDER THIS BOX</a>
                <div class="backg">
                        <div class="ghost">
                            <div class="hat">
                                <div class="hat1">
                                    <div class="s1"></div>
                                </div>
                            </div>
                            <div class="face">
                                <div class="eye-l">
                                    <div class="dot1"></div>
                                    <div class="dot2"></div>
                                </div>
                                <div class="eye-r">
                                    <div class="dot1"></div>
                                    <div class="dot2"></div>
                                </div>
                                <div class="blsh-l"></div>
                                <div class="blsh-r"></div>
                                <div class="mouth"></div>
                            </div>
                            <div class="hand-l"></div>
                            <div class="hand-r"></div>
                            <div class="pumpkin">
                                <div class="handle"></div>
                                <div class="p1"></div>
                                <div class="p2"></div>
                                <div class="p3"></div>
                                <div class="p4"></div>
                                <div class="e-l"></div>
                                <div class="e-r"></div>
                                <div class="nose"></div>
                                <div class="m">
                                    <div class="t1"></div>
                                    <div class="t2"></div>
                                    <div class="t3"></div>
                                    <div class="t4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="middle_section">
            <div class="testimonials">
                <p class="testimonialp">Halloween Testimonials... OOO <span class="halloweenspan">Spoooky!</span></p>
                <div class="img_div">
                    <img class="test_img" src="{% static 'main/img/halloween1.jpg' %}" alt="#">
                    <img class="test_img" src="{% static 'main/img/halloween2.jpg' %}" alt="#">
                    <img class="test_img" src="{% static 'main/img/halloween12.jpg' %}" alt="#">
                    <img class="test_img" src="{% static 'main/img/halloween3.jpg' %}" alt="#"> 
                    <img class="test_img" src="{% static 'main/img/halloween4.jpg' %}" alt="#">
                    <img class="test_img" src="{% static 'main/img/halloween8.jpg' %}" alt="#">
                    <img class="test_img" src="{% static 'main/img/halloween9.jpg' %}" alt="#">
                    <img class="test_img" src="{% static 'main/img/halloween10.jpg' %}" alt="#">
                    <img class="test_img" src="{% static 'main/img/frogkid.jpg' %}" alt="#">
                </div>
            </div>
        </div>
    </div>

</body>
</html>