.test_img {
    height: 550px;
    width: 550px;
    border: 2px solid orange;
    object-fit: cover;
    margin-bottom: 10px;
    margin: 15px;

}

.errormessages {
    width: 90%;
    border: 10px solid rgb(182, 12, 12);
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    color: rgb(182, 12, 12);
    margin-top: 15px;
    margin-left: 100px;
}

.purchase_form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
}
.paypalinput {
    height: 200px;
    width: 300px;
    text-align: center;
    margin-top: 10px;
}

.cart_info {
    border: 2px solid black;
    width: 60%;
    padding: 10px;
    background-color: antiquewhite;
    font-size: 18pt;
}
.main_content {
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 15px;
}
.pp1 {
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
    border-bottom: 2pt solid black;
    border-top: 2pt solid black;

}



.halloweenspan {
    font-family: creepster, sans-serif;
    font-size: 45pt;
    color: rgb(255, 81, 0);
}

.current_h {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
    border: 8px solid rgb(170, 9, 9);
    padding: 10px;
    background-color: white;

}

#note_label {
    font-size: 20pt;
    font-style: italic;
    color: green;
}

#note_input {
    height: 100px;
}

.order_form {
    display: flex;
    flex-direction: column;
    width: 60%;
    border: 1pt solid black;
    margin-top: 10px;
    padding: 10px;
    background-color: antiquewhite;
}
.order_form_head {
    border-bottom: 2pt dashed black;
    margin-bottom: 10px;
}

.logoimg {
    height: 350px;
    width: 350px;
}
.details {
    width: 70%;
    border: 2px solid rgb(255, 81, 0);
    text-align: center;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;

}
.fblink {
    font-size: 20pt;
    text-decoration-line: underline;
    text-align: right

}
.momimg {
    align-self: center;
    margin-bottom: 10px;
    height: 300px;
    width: 300px;
    border: 2px solid maroon;
    margin-top: 15px;
    padding: 6px;
}
.you {
    font-size: 18pt;
    font-weight: bold;
    color: blue;
}

.recipient {
    font-size: 18pt;
    font-weight: bold;
    color: red;
}
.wrapper {
    padding: 30px;
    /* height: 1080px; */
    width: 1920px;
    margin: 0px auto;
    box-sizing: border-box;
    background-color: black;

}
.main {
    display: flex;
    flex-direction: row;
    text-align: center;
    /* justify-items: center; */
    justify-content: space-between;
    padding-top: 15px;

}

.card {
    padding: 20px;
}

.paypaypay {
    margin-left: 150px;

}
.about_boxy {
width: fit-content;
background-color: rgb(211, 211, 106);
margin-top: 15px;
margin-bottom: 15px;
border-radius: 40px;
padding: 20px;
border: 2px solid orange;
height: 520px;

margin-right: 50px;
margin-left: 20px;


}
.order_button2 {
    background-color: rgb(128, 236, 128);
    font-size: 30pt;
    margin-top: 10px;
    border-radius: 20px;
    border: 2px solid orange;
    width: 30%;
    text-align: center;


}
.button_div {
    display: flex;
    justify-content: center;
    border-top: 2pt dashed black;
    margin-top: 10px;
}

.links {
    display: block;
    /* background-color: antiquewhite; */
    padding: 10px;
    font-size: 18px;
    font-style: italic;
}

.links a {
    color: maroon;
}
.details_p {
    font-size: 28pt;
    font-weight: bold;
}

.price {
    font-size: 30pt;
    font-weight: bold;
    color: rgb(255, 81, 0);
}

.order_button {
    font-size: 20pt;
    text-decoration-line: underline;
    border: 1px solid white;
    border-radius: 15px;
    background-color: rgb(255, 81, 0);
    color: antiquewhite;
    padding: 15px;
    
}
.animate{
    width:500px;
    height:500px;
    background-image:url(http://icons.iconarchive.com/icons/arrioch/halloween/512/ghost-icon.png);
    background-repeat:no-repeat;
    position:absolute;
    animation:left-to-right 2s;
    -webkit-animation:left-to-right 3s;
    -webkit-animation-delay:0s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:alternate;
    margin-left: 950px;
    margin-top: 80px;
  }

.backg{
   position: relative;
   width:350px;
   height:0px; 
   margin: auto;
   left:582px;
   right: 0;
   top:-820px;
   bottom: 0;
}

.ghost{
   background-color: white;
   width: 140px;
   height: 210px;
   position: relative;
   top:150px;
   left:100px;
   border-radius:80px 80px 0px 140px; 
   animation:float 3.5s infinite; 
   -webkit-animation:float 3.5s infinite; 
}

@keyframes float{
   50%{
       transform: translateY(50px);
   }
}

@-webkit-keyframes float{
   50%{
       -webkit-transform: translateY(50px);
   }
}

.hat{
   background-color: #3012da;
   border: 1px solid white;
   width:170px;
   height:40px;
   border-radius: 50%;
   position: relative;
   left:15px;
   bottom:0px;
   transform: rotate(26deg); 
   -webkit-transform: rotate(26deg); 
}

.hat1{
   width: 0; 
   height: 0; 
   border-left:50px solid transparent;
   border-right:50px solid transparent;
   border-bottom:100px solid  #0b081b;
   position: relative;
   bottom: 92px;
   left:40px;
   transform: rotate(2deg);
   -webkit-transform: rotate(2deg);
}
.s1{
   height: 0px;
   width: 70px;
   border-bottom: 20px solid #ff9933;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   position: relative;
   top:70px;
   right: 45.5px;
   transform:rotate(-2deg); 
   -webkit-transform:rotate(-2deg); 
}
.eye-l,.eye-r{
   height:23px;
   width: 23px;
   background-color: black;
   border-radius:50%;
   position: relative;
}
.eye-l{
   top:20px;
   left:15px; 
}
.eye-r{
   bottom:2px; 
   left:70px;
}
.dot1{
   background-color: white;
   height: 10px;
   width:10px;
   border-radius:50%;
   position: relative;
   top:3.5px;
   left:3.5px; 
}
.dot2{
   background-color: white;
   height: 4px;
   width: 4px;
   border-radius: 50%;
   position: relative;
   top:5px;
   left:13px;

}
.blsh-l,.blsh-r{
      background-color: #ff99cc; 
      height: 18px;
      width: 23px;
      border-radius: 50%;
      opacity: 0.4;
      
}
.blsh-l{
   transform: rotate(20deg);	
   -webkit-transform: rotate(20deg);	
      position: relative;
      left:5px;
      bottom: 2px;
}
.blsh-r{
   transform: rotate(-20deg);
   -webkit-transform: rotate(-20deg);	
      position: relative;
      left:80px;
      bottom: 19px;
}
.mouth{
   background-color: black;
   height: 20px;
   width: 20px;
   border-radius: 50%;
   position: relative;
   bottom: 30px;
   left:40px;

}
.hand-l{
   background-color: white;
   height:23px;
   width: 40px;
   border-radius: 15px;
   position: relative; 
   bottom: 20px;
   right: 15px;
   transform: rotate(-15deg);
   -webkit-transform: rotate(-15deg);
}

.pumpkin{
   position: relative;
   transform: rotate(10deg);
   -webkit-transform: rotate(10deg);
   bottom: 35px;
   right: 35px;
}
.handle{
   background-color:transparent;
   height: 37px;
   width: 20px;
   position: relative;
   border-radius:20px 20px 0px 0px;
   border:4px solid #e69900;
   top:18px;
   right: 5px;  
}
.p1,.p4{
   background-color: #ff9933;
   height: 40px;
   width: 25px;
   position: relative;
   border-radius: 20px;
}
.p2,.p3{
   background-color: #ff9933;
   height: 57px;
   width: 25px;
   position: relative;
   border-radius: 20px;
}
.p1{
   right:30px;
   top:7px; 
}
.p2{
   right: 13px;
   bottom: 40px;
}
.p3{
   bottom: 97px;
   left:5px;
}
.p4{
   bottom: 145px;
   left:22px;
}
.e-l,.e-r{
   opacity:0.6;
   height: 0;
   width: 0;
   border-bottom:15px solid black; 
   border-left:10px solid transparent; 
   border-right:10px solid transparent; 
   position: relative;
   
}
.e-l{
   bottom: 183px;
   right: 17px;
}
.e-r{
   bottom:198px;
   left:16px; 
}
.nose{
   opacity:0.6;
   height: 0;
   width: 0;
   border-bottom:8px solid black; 
   border-left:5px solid transparent; 
   border-right:5px solid transparent; 
   position: relative;
   bottom: 200px;
   left:3.2px;
}
.m{
   background-color: black;
   opacity: 0.6;
   height: 15px;
   width: 30px;
   border-radius: 0px 0px 15px 15px;
   position: relative;
   bottom: 196px;
   right:5.5px; 
}
.t1,.t2{
   
   height: 0;
   width: 0;
   border-top:6px solid #ff9933;
   border-left:3px solid transparent; 
   border-right:3px solid transparent; 
   position: relative;
}
.t1{
   left:2px;
   bottom:0.5px; 
}
.t2{
   bottom: 6.5px;
   left:20px;
}
.t3,.t4{
   background-color: #ff9933;
   
   height:6px;
   width:5px;
   position: relative; 
   
}
.t3{
   bottom:4px;
   left:4.5px;
   transform: rotate(10deg); 
   -webkit-transform: rotate(10deg); 
}
.t4{
   bottom: 9.5px;
   left:20px;
   transform: rotate(-10deg); 
   -webkit-transform: rotate(-10deg); 
}

.homelink {
    text-align: center;
    font-size: 20pt;
    border: 1pt solid rgb(175, 13, 13);
    padding: 5px;
}

.current_offering {
    width: 60%;
    border: 5px dotted black;
    background-color: black;
    margin-left: 80px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#current_offering_img {
    height: 400px;
    width: 800px;
}

.boxyboxy1 {
    text-shadow: 2px 1px orange;
    font-size: 28pt;
    color: rgb(17, 13, 7);
    border-bottom: 2px double black;
}

.facebooklink {
    display: inline;
    align-items: right;

}

.img_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.form_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.testimonials {
    margin-top: 40px;
    margin-bottom: 50px;
    background-color: black;
    width: 100%;
    border-radius: 25px;
}

.testimonialp {
    color: antiquewhite;
    font-size: 28pt;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 1px orange;
}
.middle_section {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-items: center;
    margin-top: 20px;
}
.spooky {
    text-shadow: 2px 1px orange;
    font-style: italic;
}